<st-basic-page-layout>
	<ng-container main-content>
		<st-filter [filterConfig]="filterConfig"
		           [searchInProgress]="isLoading"
		           (onFilterChanged)="onFilterChanged()">
		</st-filter>
		<div class="table" *ngIf="hasData && !isLoading, else noDataTemplate">
			<st-table [data]="repositories"
			          [columns]="columns">
			</st-table>
			<p-paginator [rows]="pageInfo.perPage"
			             [first]="pageInfo.firstElementOnPage"
			             [totalRecords]="totalCount"
			             [rowsPerPageOptions]="rowsPerPageOptions"
			             [showCurrentPageReport]="true"
			             [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} repositories'"
			             (onPageChange)="paginate($event)">
			</p-paginator>
		</div>
		<ng-template #noDataTemplate>
			<st-no-data [isLoading]="isLoading"></st-no-data>
		</ng-template>
	</ng-container>
</st-basic-page-layout>
